<html>
    <head>
        <title>Mehdi Hussain | Home</title>
        <meta content='initial-scale=1.0, width=device-width' name='viewport'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/global.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="margin-right: 3em;margin-left: 3em;">
            <div class="container-fluid ">
              <a class="navbar-brand" href="/">
                <img src="/images/profile.png" alt="" width="40" height="40" class="textcolor d-inline-block align-top">  
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <a class="navbar-toggler-icon"></a>
                </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/contact">Contact</a>
                  </li>
                </ul>
                <a class="btn btn-outline-success" href="/newsletter">Join my Newsletter!</a>
              </div>
            </div>
          </nav>

          <header style="margin-right: 3em;margin-left: 3em;" class="fade-in">
            <div class="container center p-5">
              <div class="row">
                  <div class="col-md-12">
                      <img style='float:left;width:200px;height:200px; margin-right:20px;' src="/images/profile.png" class="borderCircle" />
                      <div style="margin-top: 5px;">
                        <h1 class="p-2">Contact Me</h1>
                        <p>You can contact me through email, social media, or by filling out the form below</p>
                      </div>

                  </div>
              </div>
              <div class="row p-2">
                  <a href="https://twitter.com/mehdihdev" class="fab fa-twitter fa-lg"></a>
                  <a href="https://www.linkedin.com/in/mehdidev/" class="fab fa-linkedin fa-lg"></a>
                  <a href="https://www.instagram.com/mehdihdev/" class="fab fa-instagram fa-lg"></a>
                  <a href="mailto:mehdi@mehdi.us" class="fas fa-inbox fa-lg"></a>
              </div>
            </div>
          </header>
          <section class="about">
              <h1>Contact Me</h1>
              <hr>
              <h5>Throughout my years of learning, one thing I learned is that one of the best ways to make connections is by cold emailing people. I want to open this up to you too. If you have any requests, just email me at mehdi@mehdi.us. I read my email every day, like most people, so I'll defenitely respond within 48 hours. If that doesn't suit you, then go ahead and fill out the form below.</h5>
          </section>
          <section class="about">
              <h1>Contact Form</h1>
              <hr>
              <form action="/contact" id="contact-form" method="post" role="form" class="form-group">
                <fieldset>
                  <label for="name">Name</label>
                  <br>
                  <input id="name" name="name" type="text" placeholder="Your name" required class="form-control"/>
                  <label for="email">Email</label>
                  <br>
                  <input id="email" name="email" type="text" placeholder="Your email" required class="form-control"/>
                  <label for="message">Message</label>
                  <br>
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your message here" rows="3" required></textarea>
                  <br>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </fieldset>
              </form>
          </section>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
          <script src="https://kit.fontawesome.com/ea12dcf2e6.js" crossorigin="anonymous"></script>
    </body>
</html>