<section class="iabat">
    <div onclick="document.location.href='/BubbleScan';return true;" class="iabatimg">
        <img src="/images/BubbleScan.png" alt="" class="" width="100%">
        <span>Hello</span>
    </div>
  </section>
  <section class="iabat">
    <div onclick="document.location.href='/iabatios';return true;" class="iabatimg">
      <img src="/images/iabatios.png" alt="" class="" width="100%">
    </div>
  </section>

  <section class="iabat">
    <div onclick="document.location.href='/NC-Hack';return true;" class="iabatimg">
      <img src="/images/nchacksection.png" alt="" class="" width="100%">
    </div>
  </section>
  <section>
    <h1>Like these?</h1>
    <p></p>
    <a href="">Contact me</a>
  </section>
